.page {
    padding: 0;
    color: #212529;
    /*background-color: #FAFAFA;*/
    font-family: times, serif;
    width: 19cm;
    min-height: 29.7cm;
    margin: 0.5cm 0 0 1.5cm;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    .page {
        margin: 0;
        padding: 0;
    }
}

table {
    border-collapse: collapse;
}

.statistics_underlines {
    font-size: 10pt;
    text-overflow: clip;
    overflow: hidden;
    text-decoration: overline underline;
    line-height: 80%;
    margin-top: 0;
    margin-bottom: 0;
}


.wrap_dates {
    width: 1310px; /*фіксуємо ширину обгортки*/
    height: 1px; /*Задаемо висоту обгортки*/
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 0 auto;
    border-spacing: 0 0; /* border-collapse наслідується, застосовується лише до table або inline-table елементам з border-collapse: separate; */
    border-collapse: collapse;
}

.bblock {
    float: left; /*Задаємо обтікання*/
    line-height: 12px; /*Висота рядка +  верт. центрування тексту*/
    font-size: 10pt;
    text-align: left;
    margin-right: 3px;
    /* background: dodgerblue;
     color: white; */
}

.table_measures {
    width: 720px; /*фиксуємо ширину*/
    font-size: 8pt;
    border: 1px solid #000; /* Рамка навколо таблиці measures */
    border-collapse: collapse;
}

.table_measures td, th {
    font-size: 8pt;
    border: 1px solid #000; /* Рамка навколо клітинки таблиці measures */

}




