<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dictionary {% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
    {% endblock %}
</head>
<body>
<nav class="top-nav navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    {#                <div class="top-nav-title"> #}
    {#                    <a href="#"><span>Dictionaries</span></a> #}
    {#                </div> #}
    <div class="top-nav-links">
        <a target="_blank" rel="noopener" href="https://docs.local">Documentation</a>
        {#                    <a target="_blank" rel="noopener" href="https://api.cakephp.org/">API</a> #}
    </div>
    <div class="top_nav_links_right">
        {% block top_nav_links_right %}{% endblock %}
    </div>
</nav>
<main role="main" class="main mt-5">
    <div class="container">
        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>
</main>

{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
