<form method="post" action="{{ path('app_dict_adjuster_delete', {'id': dict_adjuster.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dict_adjuster.id) }}">
    <button class="btn">Delete</button>
</form>
