{% extends 'dicts/base.html.twig' %}

{% block top_nav_links_right %}
    <a href="{{ path('admin_dict_branch_index') }}" class="btn btn-secondary btn-sm ml-auto mb-1 mt-1">back to list</a>
{% endblock %}

{% block title %}New Branch{% endblock %}

{% block body %}
    <h1>Create new Branch</h1>

    {{ include('dicts/branch/_form.html.twig') }}

{% endblock %}
